// colors

$color-white: #ffffff;

// orange
$color-orange: #ff5c00;
$color-orange-1: #f75454;

// black
$color-black: #000000;

// green
$color-green: #0bc255;
$color-green-1: #d5fee6;
$color-green-2: #d5fee6e5;
$color-green-3: #0c9041;
$color-green-4: #c5f4d8;
$color-green-5: #19d263;
$color-green-6: #e7fff1;
// blue
$color-blue: #0038c7;
$color-blue-1: #2f82fd;
$color-blue-3: #0c0b23;

//gray
$color-gray: #f3f3f3;
$color-gray-1: #a39e9e;
$color-gray-2: #f6f5f3;

// fonts
$font_silka: "silkaregular", sans-serif;
