@import "partials/abstracts/variables";

.hero {
  background-image: url("../../assets/imgs/backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: $color-gray;
  padding: 16.5rem 10rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  gap: 0 1rem;
  &__left {
    margin-bottom: 4rem;
    .title {
      font-size: 1.6rem;
      font-weight: bold;
      color: $color-gray-1;
      margin-bottom: 1.5rem;
    }
    .msg {
      margin-bottom: 2rem;
      p {
        font-size: 4.5rem;
        color: $color-black;
        line-height: 5.1rem;
      }
      P:last-of-type {
        font-weight: bold;
      }
    }
    .btn {
      padding: 1.3rem 3rem;
      color: $color-white;
      border-radius: 0.3rem;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: $color-black;
      cursor: pointer;
      text-align: center;
      max-width: 15rem;
      width: 100%;
    }
  }
  &__right {
    // width: 50rem;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: none;
    background-color: #fff;
    padding: 16.5rem 4rem 1rem;
    display: block;
    &__right {
      display: none;
    }
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .btn {
        display: none;
      }
    }
  }
}
