@import "partials/abstracts/variables";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    max-width: 148rem;
    width: 100%;
    height: 100vh;
    padding: 6rem 2rem;
    &--title {
      font-size: 1.9rem;
      color: rgba($color-black, 0.8);
      margin-bottom: 4rem;
    }
    &--content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(26.2rem, 28.2rem));
      justify-content: center;
    }
  }
}

.fetch {
  text-align: center;
  font-weight: bold;
  margin: 3rem 0 8rem;
  cursor: pointer;
}
