@import "partials/abstracts/variables";

.toolbar_wrapper {
  padding: 1rem 10rem;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: $color-white;
  z-index: 100;
  font-size: 1.4rem;
  ul {
    display: none;
  }
  .logo {
    max-width: 2.8rem;
    width: 100%;
    margin-right: 4rem;
    img {
      width: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    ul {
      width: 100%;
      display: flex;
      li {
        font-weight: bold;
      }
      & > div {
        display: flex;
        color: $color-black;
      }
      .right {
        margin-left: auto;
        .form_group {
          .input_group {
            display: flex;
            min-width: 36rem;
            width: 100%;
            position: relative;
            span {
              background: $color-gray-2;
              padding: 1.3rem 1.6rem;
              height: 4.5rem;
              border-top-left-radius: 0.3rem;
              border-bottom-left-radius: 0.3rem;
              border-right: none;
              color: rgba($color-black, 0.4);
              font-size: 1.4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
            span:last-of-type {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 0.3rem;
              border-bottom-right-radius: 0.3rem;
            }
            input {
              width: 100%;
              height: 4.5rem;
              border-radius: 0.3rem;
              font-size: 1.4rem;
              padding: 0 1rem;
              color: rgba($color-black, 0.5);
              border: none;
              background: $color-gray-2;
              border-left: none;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              &::placeholder {
                color: $color-gray-1;
              }
            }
          }
          .hide {
            display: none;
          }
          .dropdown {
            position: absolute;
            padding: 1rem;
            background-color: #fff;
            width: 100%;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
            bottom: -18.5rem;
            p {
              font-weight: 600;
              margin-bottom: 1rem;
            }
          }
          .form_radio {
            display: flex;
            align-items: center;
            margin-bottom: 0.7rem;
            input {
              width: fit-content;
              height: fit-content;
            }
            label {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .toolbar_wrapper {
    display: none;
  }
}
