@import "partials/abstracts/variables";

.sidebar_wrapper {
  display: block;
  @media only screen and (min-width: 769px) {
    display: none;
  }
  h2 {
    margin-left: 0.6rem;
    font-family: "AvatarNormal";
  }
  .aside {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    background: $color-white;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    padding: 10rem 2rem;
    font-size: 1.4rem;
    ul {
      width: 100%;
      margin: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $color-white;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      text-align: center;
      li {
        width: 90%;
        padding: 2rem 0;
        margin: 0 auto;
        border-bottom: 1px solid $color-gray-1;
        font-weight: 600;
        &:hover {
          color: $color-orange;
        }
      }
      li:last-of-type {
        color: $color-orange;
        &:hover {
          color: $color-black;
        }
      }
    }
  }
  .menu-btn {
    position: absolute;
    z-index: 6000;
    left: 2rem;
    top: 3rem;
    height: 20px;
    width: 28px;
    cursor: pointer;

    .menu-btn_burger {
      position: absolute;
      left: 0;
      top: 0.5rem;
      width: 16px;
      height: 2px;
      background-color: $color-black;
      transition: all 0.5s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: -3.8px;
        width: 23px;
        height: 2px;
        background-color: $color-black;
        transition: all 0.5s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: -3.8px;
        width: 23px;
        height: 2px;
        background-color: $color-black;
        transition: all 0.5s ease-in-out;
      }
      &.open {
        transform: rotate(360deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(3px, 5px);
        }

        &::after {
          transform: rotate(-45deg) translate(3px, -6px);
        }
      }
    }
  }
}
